<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Function_Debugger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Function_Debugger.Properties.Settings>
            <setting name="TimelineRefreshRate" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RBExeOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RBNonWindowsDll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RBAllDll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRecordedCalls" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="NumDereferencedBytes" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="CircularBufferSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SignaturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DumpSigPath" serializeAs="String">
                <value />
            </setting>
        </Function_Debugger.Properties.Settings>
    </userSettings>
</configuration>